{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Open Library</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <body>
        <header class="navbar-fixed">
          <nav>
            <div class="nav-wrapper">
              
              <ul class="right">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'books_index' %}">View all Books</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'books_create' %}">Add a Book</a></li>
                <li>
                  <form id="logout-form" method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit">LOG OUT</button>
                  </form>
                </li>
                {% else %}
                <li><a href="{% url 'signup' %}">Sign Up</a></li>
                <li><a href="{% url 'login' %}">Log In</a></li>
                {% endif %}
              </ul>
            </div>
          </nav>
        </header>
        <main class="container">
          {% block content %}
          {% endblock %}
        </main>
        <footer class="page-footer">
        
        </footer>
      </body>
</body>
</html>