{% extends 'base.html' %}

{% block content %}

<h1>My Books</h1>


{% for book in user_books %}
  <div>
    <a href="{% url 'detail' book.book.id %}">
    <div class="card-content">
        <span class="card-title">{{ book.book.title }}</span>
        <p>Author: {{ book.book.author }}</p>
        <form method="post" action="{% url 'unassoc_book' %}">
          {% csrf_token %}
          <input type="hidden" name="book_id" value="{{ book.book.id }}">
          <button type="submit">Remove from My Books</button>
        </form>
    </div>
    </a>
  </div>
{% empty %}
  <p>No books found.</p>
{% endfor %}

{% endblock %}